.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {--softblue: hsl(215, 51%, 70%);
      --cyan:hsl(178, 100%, 50%);
      /* (main BG) */
      --verydarkbluemain : hsl(217, 54%, 11%);
      /* (card BG) */
      --verydarkbluecard: hsl(216, 50%, 16%);
      /* (line) */
      --verydarkblueline : hsl(215, 32%, 27%);
      --white: hsl(0, 0%, 100%)
}

body {
  margin: auto;
  background-color: var(--verydarkbluemain);
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  cursor:pointer;
}

.title:hover{
  color:var(--cyan);
}
#author:hover{
  color: var(--cyan);
}

#image:hover{
  background-image: url("images/icon-view.svg")
}

.item {
  font-size: 18px;
  margin: 25px;
  width: 290px;
  height: 540px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--verydarkbluecard);
  box-shadow:2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02);
}


#image {
  width: 100%;
  height: 240px;
  border-radius: 10px;
}

#avatar {
  height: 30px;
  width: 30px;
  border: 1px solid var(--white);
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

hr {
  border: 1px solid var(--verydarkblueline);
}

#ethrem{
  padding-right: 20px;
}

#daysleft{
  padding-left: 10px;
}


.title, #author {
  color: var(--white);
}
p, #daysleft {
  color: var(--softblue);
  line-height: 28px;
}

#eth {
  color: var(--cyan);
}



@media screen and (min-width: 900px)  {

  .container {display: flex;
    margin: 25px;
    /* height: 500px; */
    align-items: center;
    justify-content: center;

  }
      
 .item{
  margin-top:85px;
  width: 300px;
  height: 550px;
  }



}
